<div class="card dashboard-card h-100">
  <div id="grid-container-header" class="card-header d-flex align-items-center">
    <div class="row w-100">
      <div class="col">
        <h5 class="mb-0">Grilla de clientes</h5>
      </div>
      <div class="col">
        <div>
          <strong>Clientes registrados:</strong>
          {{ customersCollection.itemCount }}
        </div>
      </div>
    </div>
  </div>
  <div id="grid-container" class="card-body">
    <wj-flex-grid
      id="customer-grid"
      *ngIf="customersCollection"
      [itemsSource]="customersCollection"
      [selectionMode]="'Row'"
      [headersVisibility]="'Column'"
      [autoGenerateColumns]="false"
      [allowResizing]="'Columns'"
      [showSelectedHeaders]="'Row'"
      [isReadOnly]="true"
      (updatedView)="
        layoutService.adjustGridHeight(
          'inner-container',
          'grid-container-header',
          'customer-grid'
        )
      "
      (selectionChanged)="getCustomerDetails(customersCollection.currentItem)"
    >
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column
        *ngFor="let column of columns"
        [width]="column.width"
        [binding]="column.binding"
        [header]="column.header"
        [visible]="true"
      >
      </wj-flex-grid-column>
    </wj-flex-grid>
  </div>
</div>
