<div class="card dashboard-card h-100">
  <div
    id="grid-container-header"
    class="card-header d-flex align-items-center justify-content-between"
  >
    <h5 class="mb-0">Grilla de clientes</h5>
    <div>
      <strong>Clientes registrados:</strong>
      {{ customersCollection.itemCount }}
    </div>
    <div>
      <button class="btn btn-sm btn-outline-dark" (click)="toggleLeftPanel()">
        🔎 Ver canjes
      </button>

      <button class="btn btn-sm btn-outline-dark ml-3" (click)="exportToXls()">
        💾 Exportar
      </button>
    </div>
  </div>
  <div id="grid-container" class="card-body">
    <wj-flex-grid
      #customerGrid
      id="customer-grid"
      *ngIf="customersCollection"
      [itemsSource]="customersCollection"
      [selectionMode]="'Row'"
      [headersVisibility]="'Column'"
      [autoGenerateColumns]="false"
      [allowResizing]="'Columns'"
      [showSelectedHeaders]="'Row'"
      [isReadOnly]="true"
      (updatedView)="
        layoutService.adjustGridHeight(
          'inner-container',
          'grid-container-header',
          'customer-grid'
        )
      "
      (selectionChanged)="getCustomerDetails(customersCollection.currentItem)"
    >
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column
        *ngFor="let column of columns"
        [width]="column.width"
        [binding]="column.binding"
        [header]="column.header"
        [visible]="true"
      >
      </wj-flex-grid-column>
    </wj-flex-grid>
  </div>
</div>
