@media (min-width: 992px) {
  .card.dashboard-card {
    height: 100%;
    .card-header {
      height: 56px;
    }

    .card-body {
      //height: 568px;
      .card-body {
        height: unset;
      }
    }
  }
}

@media (min-height: 992px) {
  .card.dashboard-card {
    height: 100%;
    max-height: 800px;
    .card-body {
      max-height: 768px;
      .card-body {
        height: unset;
      }
    }
  }
}
