<div class="card dashboard-card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5>{{ edit ? "Editar cupón" : "Agregar nuevo cupón" }}</h5>
      <div>
        <button
          *ngIf="!edit"
          class="btn btn-sm btn-outline-primary mr-2 mr-lg-3"
          (click)="couponManagementService.add()"
        >
          🔄
          <div class="d-none d-lg-inline" (click)="load()">Cargar nuevo</div>
        </button>
        <button
          *ngIf="edit"
          class="btn btn-sm btn-outline-dark mr-2 mr-lg-3"
          (click)="goBack()"
        >
          ⬅️
          <div class="d-none d-lg-inline">Volver</div>
        </button>
        <button
          class="btn btn-sm btn-outline-dark mr-2 mr-lg-3"
          (click)="save()"
        >
          💾
          <div class="d-none d-lg-inline">Guardar</div>
        </button>
        <button
          *ngIf="!edit"
          class="btn btn-sm btn-outline-danger"
          (click)="goBack()"
        >
          🗑️
          <div class="d-none d-lg-inline">Descartar</div>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="form-group">
            <label for="title"><strong>Título:</strong></label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
              placeholder="Ingrese un nombre para el cupón"
              [(ngModel)]="coupon.title"
              [disabled]="disableInputs"
            />
          </div>
          <div class="form-group">
            <label for="description"><strong>Descripción:</strong></label>
            <textarea
              class="form-control"
              rows="6"
              id="description"
              name="description"
              placeholder="Introduzca una descripción explicativa de en qué consiste la promoción del cupón que se va a agregar"
              [(ngModel)]="coupon.description"
              [disabled]="disableInputs"
            ></textarea>
          </div>
          <div class="form-group">
            <label for="startsAt"><strong>Fecha de inicio:</strong></label>
            <div class="input-group">
              <wj-input-date-time
                type="datetime"
                class="form-control p-0"
                id="startsAt"
                name="startsAt"
                placeholder="Fecha y hora de inicio"
                aria-describedby="calendarFrom"
                required
                [format]="'dd/MM/yyyy HH:mm'"
                [value]="startingDate"
                [(ngModel)]="startingDate"
                [isDisabled]="disableInputs"
              ></wj-input-date-time>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="form-group">
            <label for="title"><strong>Tipo de Cupón:</strong></label>
            <select
              class="form-control"
              id="type"
              name="type"
              aria-describedby="type"
              placeholder="Ingrese un nombre para el cupón"
              [(ngModel)]="coupon.type"
              [disabled]="disableInputs"
            >
              <option
                *ngFor="let couponType of couponTypes"
                [ngValue]="couponType"
                >{{ couponType.description }}</option
              >
            </select>
          </div>
          <div class="form-group">
            <label for="code"><strong>Código QR</strong></label>
            <qrcode [qrdata]="coupon.code" [size]="96" [level]="'M'"></qrcode>
            <div class="input-group mt-4 ">
              <input
                id="code"
                class="form-control"
                name="code"
                type="text"
                readonly
                [(ngModel)]="coupon.code"
              />
              <div class="input-group-append">
                <button
                  class="input-group-text btn btm-sm btn-outline-primary"
                  (click)="generateCode()"
                >
                  🔄
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="endsAt"><strong>Fecha de finalización:</strong></label>
            <div class="input-group">
              <wj-input-date-time
                id="endsAt"
                type="datetime"
                class="form-control p-0"
                name="endsAt"
                placeholder="Fecha y hora de finalización"
                aria-describedby="calendarTo"
                required
                [format]="'dd/MM/yyyy HH:mm'"
                [value]="endingDate"
                [(ngModel)]="endingDate"
                [isDisabled]="disableInputs"
              ></wj-input-date-time>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="form-group" *ngIf="coupon.id">
            <label for="title"><strong>ID:</strong></label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              aria-describedby="id"
              placeholder="Ingrese un nombre para el cupón"
              [(ngModel)]="coupon.id"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="user"
              ><strong>Usuario responsable de carga:</strong></label
            >
            <input
              type="text"
              class="form-control"
              id="user"
              name="user"
              [(ngModel)]="userInfo"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="image"><strong>Imagen (URL):</strong></label>
            <!-- TODO: Reemplazar por subida de archivos-->
            <!-- <input type="file" class="form-control-file" id="image" />-->
            <input
              type="text"
              class="form-control"
              id="image"
              name="image"
              placeholder="Ejemplo: http://www.abc.com/imagen.jpg"
              [(ngModel)]="coupon.imageUrl"
              [disabled]="disableInputs"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
