<div class="card dashboard-card">
  <div class="card-header">
    <div class="d-flex justify-content-between">
      <h5>{{ edit ? "Editar cupón" : "Agregar nuevo cupón" }}</h5>
      <div>
        <button
          *ngIf="!edit"
          class="btn btn-sm btn-outline-primary mr-2 mr-lg-3"
          (click)="load()"
        >
          🔄
          <div class="d-none d-lg-inline" (click)="load()">Cargar nuevo</div>
        </button>
        <button
          class="btn btn-sm btn-outline-dark mr-2 mr-lg-3"
          (click)="goBack()"
        >
          ⬅️
          <div class="d-none d-lg-inline">Volver</div>
        </button>
        <button
          class="btn btn-sm btn-outline-dark mr-2 mr-lg-3"
          (click)="save()"
        >
          💾
          <div class="d-none d-lg-inline">Guardar</div>
        </button>
        <button
          *ngIf="!edit"
          class="btn btn-sm btn-outline-danger"
          (click)="goBack()"
        >
          🗑️
          <div class="d-none d-lg-inline">Descartar</div>
        </button>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="couponForm" (ngSubmit)="save()">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="form-group">
            <label for="title"><strong>Título:</strong></label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              aria-describedby="title"
              placeholder="Ingrese un nombre para el cupón"
              formControlName="title"
              [disabled]="disableInputs"
            />
            <div
              *ngIf="submitted && formControl.title.errors"
              class="alert alert-danger p-1 mt-1"
            >
              <div *ngIf="formControl.title.errors.required">
                Se requiere ingresar un título
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description"><strong>Descripción:</strong></label>
            <textarea
              class="form-control"
              rows="6"
              id="description"
              name="description"
              placeholder="Introduzca una descripción explicativa de en qué consiste la promoción del cupón que se va a agregar"
              formControlName="description"
              [disabled]="disableInputs"
            ></textarea>
            <div
              *ngIf="submitted && formControl.description.errors"
              class="alert alert-danger p-1 mt-1"
            >
              <div *ngIf="formControl.description.errors.required">
                Se requiere ingresar una descripción
              </div>
            </div>
          </div>
          <div class="form-group">
            <label><strong>Fecha de inicio:</strong></label>
            <div class="input-group">
              <wj-input-date-time
                class="form-control p-0"
                id="startingDate"
                placeholder="Fecha y hora de inicio"
                aria-describedby="startingDate"
                [format]="'dd/MM/yyyy HH:mm'"
                formControlName="startingDate"
                [isDisabled]="disableInputs"
              ></wj-input-date-time>
            </div>
          </div>
          <hr />
          <div class="form-group" *ngIf="coupon.id && edit">
            <label for="title"><strong>ID:</strong></label>
            <input
              type="text"
              class="form-control"
              id="id"
              name="id"
              aria-describedby="id"
              placeholder="Ingrese un nombre para el cupón"
              formControlName="id"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="form-group">
            <label><strong>Tipo de Cupón:</strong></label>
            <wj-combo-box
              class="form-control p-0"
              id="type"
              name="type"
              aria-describedby="type"
              [placeholder]="'Ingrese un nombre para el cupón'"
              formControlName="type"
              [isDisabled]="disableInputs || edit"
              [isEditable]="false"
              [itemsSource]="couponTypes"
              [selectedItem]="coupon.type"
              [selectedIndex]="coupon.type.id - 1"
              [displayMemberPath]="'description'"
            ></wj-combo-box>
          </div>
          <div class="form-group">
            <label for="code"><strong>Código QR</strong></label>
            <qrcode [qrdata]="coupon.code" [size]="96" [level]="'M'"></qrcode>
            <div class="input-group mt-4 ">
              <input
                id="code"
                class="form-control"
                name="code"
                type="text"
                readonly
                formControlName="code"
              />
              <div class="input-group-append">
                <button
                  class="input-group-text btn btm-sm btn-outline-primary"
                  (click)="generateCode()"
                >
                  🔄
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label><strong>Fecha de finalización:</strong></label>
            <div class="input-group">
              <wj-input-date-time
                id="endingDate"
                class="form-control p-0"
                placeholder="Fecha y hora de finalización"
                aria-describedby="endingDate"
                [format]="'dd/MM/yyyy HH:mm'"
                formControlName="endingDate"
                [isDisabled]="disableInputs"
              ></wj-input-date-time>
            </div>
          </div>
          <hr />
          <div class="form-group">
            <label for="user"
              ><strong>Usuario responsable de carga:</strong></label
            >
            <input
              type="text"
              class="form-control"
              id="user"
              name="user"
              [(ngModel)]="userInfo"
              [ngModelOptions]="{ standalone: true }"
              disabled
            />
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="alert alert-info p-3 m-0">
            Las imágenes deben tener idealmente un tamaño de 340x160 píxeles
          </div>
          <hr />
          <div class="form-group">
            <label for="imageUrl"><strong>Imagen (URL):</strong></label>

            <input
              type="text"
              class="form-control mb-2"
              id="imageUrl"
              name="image"
              placeholder="Ejemplo: http://www.abc.com/imagen.jpg"
              formControlName="imageUrl"
              [disabled]="disableInputs"
              (ngModelChange)="onImageUrlChange($event)"
            />

            <div
              *ngIf="submitted && formControl.imageUrl.errors"
              class="alert alert-danger p-1 mt-1"
            >
              <div *ngIf="formControl.imageUrl.errors.required">
                Se requiere agregar una imagen vía URL o subiendo un archivo
              </div>
            </div>

            <label for="uploaded-image"><strong>Imagen (Subir):</strong></label>

            <!-- TODO: Reemplazar por subida de archivos-->
            <input
              type="file"
              class="form-control-file"
              id="uploaded-image"
              name="uploaded-image"
              accept="image/*"
              (change)="fileProgress($event)"
            />

            <div class="mt-2" *ngIf="previewUrl">
              <hr />
              <label><strong>Vista previa:</strong></label>
              <div class="w-100">
                <img height="120" [src]="previewUrl" />
              </div>

              <button
                class="btn btn-sm btn-outline-dark mt-2"
                (click)="onUploadImage()"
                [disabled]="imageUploaded"
              >
                <label class="mb-0" *ngIf="!imageUploaded && !imageUploading"
                  >Subir Imagen ️</label
                >
                <label class="mb-0" *ngIf="imageUploaded"
                  >Imagen subida ✔️</label
                >
                <label class="mb-0" *ngIf="imageUploading"
                  >Subiendo imagen... 🔄️</label
                >
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
