<div id="scanner-container" class="bg-white">
  <zxing-scanner
    (scanSuccess)="scanSuccessHandler($event)"
    #scanner
  ></zxing-scanner>
</div>

<div id="scanned-qr-info" class="mt-3">
  <div class="card h-100">
    <div class="card-header">
      Info de código QR
    </div>
    <div class="card-body">
      <p *ngIf="this.coupon && this.customer">
        El código QR corresponde al cupón {{ this.coupon.title }}, intentando
        ser canjeado para el cliente
        {{ this.customer.firstName + " " + this.customer.lastName }}
      </p>

      <hr />

      <div *ngIf="couponStatus">
        <div
          class="alert alert-primary"
          role="alert"
          *ngIf="!notValid && !alreadyExpired && !alreadyRedeemed"
        >
          <p>El cupón puede ser canjeado</p>
        </div>

        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="notValid || alreadyExpired || alreadyRedeemed"
        >
          <p *ngIf="notValid">
            Este cupón no es válido.
          </p>

          <p *ngIf="alreadyRedeemed">
            Este cupón ya fue canjeado por el cliente el día {{ "" }} a las
            {{ "" }}.
          </p>

          <p *ngIf="alreadyExpired">
            Este cupón expiró. Fue válido hasta el día {{ "" }} a las {{ "" }}.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between bg-white">
      <button class="btn btn-outline-black">Redimir cupón</button>
      <button class="btn btn-outline-danger">Limpiar código</button>
    </div>
  </div>
</div>
