<!--TODO: Agregar modo de input por escrito (cupón e id de usuario)-->

<div id="scanner-container" class="bg-white" *ngIf="readMode === 'qr'">
  <zxing-scanner
    #scanner
    [(device)]="currentDevice"
    [tryHarder]="tryHarder"
    (scanSuccess)="onScanSuccess($event)"
    (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)"
  >
  </zxing-scanner>
</div>

<div id="scanned-qr-info" class="mt-3">
  <div class="card h-100">
    <div class="card-header p-1">
      <div class="d-flex justify-content-between align-items-center">
        <div class="align-items-center ml-2">
          {{ optionsVisible ? "Opciones de lector QR" : "Info de código QR" }}
        </div>

        <div>
          <button
            *ngIf="debugMode"
            type="button btn-sm"
            class="btn btn-outline-dark mr-2"
            (click)="onScanTest()"
          >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>

          <button
            type="button btn-sm"
            class="btn btn-outline-dark mr-2"
            (click)="toggleOptions()"
          >
            <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="card-body" *ngIf="!optionsVisible">
      <p *ngIf="!couponStatusRetrieved">
        Proceda a leer el código QR que desea canjear el cliente
      </p>

      <p *ngIf="this.coupon && this.customer">
        Cupón: {{ this.coupon.title }} <br />
        Cliente:
        {{ this.customer.firstName + " " + this.customer.lastName }}
      </p>

      <div *ngIf="couponStatusRetrieved">
        <hr class="mt-1 mb-1" *ngIf="this.coupon && this.customer" />

        <div
          class="p-1 alert alert-primary"
          role="alert"
          *ngIf="
            !notValid &&
            !alreadyExpired &&
            !alreadyRedeemed &&
            couponStatus.canRedeem
          "
        >
          <p class="m-0 text-center">El cupón puede ser canjeado</p>
        </div>

        <div
          class="p-1 alert alert-danger"
          role="alert"
          *ngIf="!couponStatus.canRedeem"
        >
          <p class="m-0 text-center" class="m-0 text-center" *ngIf="notValid">
            Código QR no válido para esta operación. Valor del código:
            {{ this.scannedCode }}
          </p>

          <p class="m-0 text-center" *ngIf="alreadyRedeemed">
            Este cupón ya fue canjeado por el cliente.
          </p>

          <p class="m-0 text-center" *ngIf="alreadyExpired">
            Este cupón ya expiró.
          </p>
        </div>
      </div>
    </div>
    <div class="card-body p-2" *ngIf="optionsVisible">
      <label
        >Cámara actual:
        {{ currentDevice ? currentDevice.deviceId : "Ninguna" }}</label
      >
      <select
        class="form-control"
        (change)="onDeviceSelectChange($event.target.value)"
      >
        <option
          *ngFor="let device of availableDevices"
          [value]="device.deviceId"
          [selected]="
            currentDevice && device.deviceId === currentDevice.deviceId
          "
          >{{ device.label }}</option
        >
      </select>

      <div class="d-flex justify-content-between">
        <div class="form-check mt-2">
          <input
            class="form-check-input"
            name="tryHarder"
            type="checkbox"
            [(ngModel)]="tryHarder"
            id="tryHarder"
          />
          <label class="form-check-label" for="tryHarder">
            Forzar
          </label>
        </div>

        <div class="form-check mt-2">
          <input
            class="form-check-input"
            name="tryHarder"
            type="checkbox"
            [(ngModel)]="debugMode"
            id="debugMode"
          />
          <label class="form-check-label" for="debugMode">
            Debug Mode
          </label>
        </div>

        <button
          class="btn btn-sm btn-outline-dark mt-2"
          (click)="askForPermissions()"
        >
          Pedir permisos
        </button>
      </div>
    </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <div class="d-flex justify-content-between bg-white">
      <button
        class="btn btn-outline-black"
        [disabled]="notValid || alreadyExpired || alreadyExpired"
        (click)="redeemCoupon()"
      >
        Redimir cupón
      </button>
      <button class="btn btn-outline-danger" (click)="cleanScannedCode()">
        Limpiar código
      </button>
    </div>
  </div>
</div>
