<!--TODO: Agregar modo de input por escrito (cupón e id de usuario)-->

<div
  id="scanner-container"
  class="bg-white"
  *ngIf="readMode === 'qr' && scannerIsActive"
>
  <zxing-scanner
    #scanner
    [(device)]="currentDevice"
    (scanSuccess)="onScanSuccess($event)"
    (permissionResponse)="onHasPermission($event)"
    (camerasFound)="onCamerasFound($event)"
  >
  </zxing-scanner>
</div>

<div id="scanned-qr-info" class="mt-3">
  <div class="card h-100">
    <div class="card-header p-1">
      <div class="d-flex justify-content-between align-items-center">
        <div class="align-items-center ml-2">
          {{ optionsVisible ? "Opciones de lector" : "Info de QR" }}
        </div>

        <div>
          <button
            type="button btn-sm"
            class="btn btn-outline-dark px-3 mr-2"
            (click)="beginScanning()"
          >
            <i class="fa fa-camera" aria-hidden="true"></i>
          </button>

          <button
            *ngIf="debugMode"
            type="button btn-sm"
            class="btn btn-outline-dark px-3 mr-2"
            (click)="onScanTest()"
          >
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>

          <button
            type="button btn-sm"
            class="btn btn-outline-dark px-3 mr-2"
            (click)="onEnterWithKeyboard()"
          >
            <i class="fa fa-code" aria-hidden="true"></i>
          </button>

          <button
            type="button btn-sm"
            class="btn btn-outline-dark px-3 mr-2"
            (click)="toggleOptions()"
          >
            <i class="fa fa-cog" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngTemplateOutlet="scannerOptions"> </ng-container>

    <ng-container *ngTemplateOutlet="redemptionStatus"> </ng-container>
  </div>
</div>

<div class="card mt-3">
  <div class="card-body">
    <ng-container *ngTemplateOutlet="enterCode"> </ng-container>

    <div class="d-flex justify-content-between bg-white">
      <button
        class="btn btn-sm btn-outline-danger w-100"
        (click)="redeemCouponService.cleanScannedCode()"
      >
        Limpiar código
      </button>
    </div>
  </div>
</div>

<ng-template #redemptionStatus>
  <div class="card-body" *ngIf="!optionsVisible">
    <p *ngIf="!redeemCouponService.couponStatusRetrieved">
      Proceda a leer el código QR que desea canjear el cliente
    </p>

    <p
      *ngIf="
        this.redeemCouponService.coupon && this.redeemCouponService.customer
      "
    >
      <strong>Último cupón leído:</strong><br />
      Cupón: {{ this.redeemCouponService.coupon.title }} <br />
      Cliente:
      {{
        this.redeemCouponService.customer.firstName +
          " " +
          this.redeemCouponService.customer.lastName
      }}
    </p>

    <div
      *ngIf="
        redeemCouponService.couponStatusRetrieved ||
        (redeemCouponService.redemptionStatus.status &&
          redeemCouponService.redemptionStatus.message)
      "
    >
      <hr
        class="mt-1 mb-1"
        *ngIf="
          this.redeemCouponService.coupon && this.redeemCouponService.customer
        "
      />

      <div
        class="p-1 alert alert-primary"
        role="alert"
        *ngIf="redeemCouponService.redeemingInProcess"
      >
        <p class="m-0 text-center">El cupón está siendo canjeado...</p>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #scannerOptions>
  <div class="card-body p-2" *ngIf="optionsVisible">
    <label
      >Cámara actual:
      {{ currentDevice ? currentDevice.deviceId : "Ninguna" }}</label
    >
    <select
      class="form-control"
      (change)="onDeviceSelectChange($event.target.value)"
    >
      <option
        *ngFor="let device of availableDevices"
        [value]="device.deviceId"
        [selected]="currentDevice && device.deviceId === currentDevice.deviceId"
        >{{ device.label }}</option
      >
    </select>

    <div class="d-flex justify-content-between">
      <div class="form-check mt-2">
        <input
          class="form-check-input"
          name="tryHarder"
          type="checkbox"
          [(ngModel)]="debugMode"
          id="debugMode"
        />
        <label class="form-check-label" for="debugMode">
          Debug
        </label>
      </div>

      <button
        class="btn btn-sm btn-outline-dark mt-2"
        (click)="askForPermissions()"
      >
        Pedir permisos
      </button>
    </div>
  </div>
</ng-template>

<ng-template #enterCode>
  <div *ngIf="enterCodeVisible">
    <div class="input-group input-group-sm mb-3">
      <label><strong>Código:</strong></label>
      <div class="d-flex justify-content-between align-items-center">
        <input type="text" class="form-control" placeholder="BRGG" disabled />
        <strong class="mx-1">-</strong>
        <input type="text" class="form-control" />
        <strong class="mx-1">-</strong>
        <input type="text" class="form-control" />
        <strong class="mx-1">-</strong>
        <input type="text" class="form-control" />
      </div>
    </div>
    <button class="btn btn-sm btn-outline-dark w-100 mb-3">
      Canjear Cupón
    </button>
  </div>
</ng-template>

<div id="alert-error" class="d-flex justify-content-center align-items-center">
  <div class="p-2">
    <h2 *ngIf="redeemCouponService.notValid">Cupón no válido.</h2>
    <h2 *ngIf="redeemCouponService.alreadyExpired">El cupón ya expiró.</h2>
    <h2 *ngIf="redeemCouponService.alreadyRedeemed">
      El cliente ya ha canjeado este cupón.
    </h2>
    <h6>(Esta alerta desaparece en 5 segundos)</h6>
  </div>
</div>

<div
  id="alert-success"
  class="d-flex justify-content-center align-items-center"
>
  <div class="p-2">
    <h2>Cupón canjeado correctamente.</h2>
    <h6>(Esta alerta desaparece en 5 segundos)</h6>
  </div>
</div>
