<div class="row">
  <div class="col-12" *ngIf="customerManagementService.showTopOutlet">
    <router-outlet name="top-outlet"></router-outlet>
  </div>
  <div
    *ngIf="customerManagementService.showLeftOutlet"
    [ngClass]="{
      'col-12': !customerManagementService.showRightOutlet,
      'col-8': customerManagementService.showRightOutlet
    }"
  >
    <router-outlet name="left-outlet"></router-outlet>
  </div>
  <div class="col-4" *ngIf="customerManagementService.showRightOutlet">
    <router-outlet name="right-outlet"></router-outlet>
  </div>
</div>
