<div class="card dashboard-card">
  <div class="card-header">
    <h5>Cupones</h5>
  </div>
  <div class="card-body">
    <wj-flex-grid
      *ngIf="gridCollection"
      [itemsSource]="gridCollection"
      [selectionMode]="'Row'"
      [headersVisibility]="'Column'"
      [autoGenerateColumns]="false"
      [allowResizing]="'Columns'"
      [showSelectedHeaders]="'Row'"
      [isReadOnly]="true"
      (selectionChanged)="getCouponDetails(gridCollection.currentItem)"
    >
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column
        *ngFor="let column of columns"
        [width]="column.width"
        [binding]="column.binding"
        [header]="column.header"
        [visible]="true"
      >
        <ng-template
          wjFlexGridCellTemplate
          [cellType]="'Cell'"
          let-cell="cell"
          *ngIf="column.id === 'startsAt'"
        >
          {{ cell.item.startsAt.format("DD/MM/YYYY hh:mm") }}
        </ng-template>
        <ng-template
          wjFlexGridCellTemplate
          [cellType]="'Cell'"
          let-cell="cell"
          *ngIf="column.id === 'endsAt'"
        >
          {{ cell.item.endsAt.format("DD/MM/YYYY hh:mm") }}
        </ng-template>
      </wj-flex-grid-column>
    </wj-flex-grid>
  </div>
</div>
