<div class="card dashboard-card">
  <div class="card-header d-flex justify-content-between">
    <h5>Cupones</h5>
    <button class="btn btn-sm btn-outline-primary" (click)="getGridData()">
      🔄 Refrescar
    </button>
    <div class="form-inline">
      <div class="form-check mr-3">
        <input
          type="checkbox"
          [(ngModel)]="showExpired"
          (ngModelChange)="getGridData()"
          class="form-check-input"
          id="show-expired"
        />
        <label class="form-check-label" for="show-expired"
          >Mostrar cupones expirados</label
        >
      </div>
      <div class="form-check">
        <input
          type="checkbox"
          [(ngModel)]="showDeleted"
          (ngModelChange)="getGridData()"
          class="form-check-input"
          id="show-deleted"
        />
        <label class="form-check-label" for="show-deleted"
          >Mostrar cupones eliminados</label
        >
      </div>
    </div>
  </div>
  <div class="card-body">
    <wj-flex-grid
      *ngIf="couponManagementService.gridCollection"
      [itemsSource]="couponManagementService.gridCollection"
      [selectionMode]="'Row'"
      [headersVisibility]="'Column'"
      [autoGenerateColumns]="false"
      [allowResizing]="'Columns'"
      [showSelectedHeaders]="'Row'"
      [isReadOnly]="true"
      (selectionChanged)="
        getCouponDetails(couponManagementService.gridCollection.currentItem)
      "
    >
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column
        *ngFor="let column of columns"
        [width]="column.width"
        [binding]="column.binding"
        [header]="column.header"
        [visible]="true"
      >
        <ng-template
          wjFlexGridCellTemplate
          [cellType]="'Cell'"
          let-cell="cell"
          *ngIf="column.id === 'startsAt'"
        >
          {{ cell.item.startsAt.format("DD/MM/YYYY hh:mm") }}
        </ng-template>
        <ng-template
          wjFlexGridCellTemplate
          [cellType]="'Cell'"
          let-cell="cell"
          *ngIf="column.id === 'endsAt'"
        >
          {{ cell.item.endsAt.format("DD/MM/YYYY hh:mm") }}
        </ng-template>
      </wj-flex-grid-column>
    </wj-flex-grid>
  </div>
</div>
