<div class="card-deck pt-2">
  <ng-container *ngFor="let routeCard of routingPanelService.routes">
    <div
      *ngIf="authenticationService.hasRole(currentUser, routeCard.roles)"
      class="card mb-3"
      (click)="routingPanelService.navigate(routeCard)"
      [ngClass]="routeCard.visibility"
    >
      <div class="card-body">
        <h5 class="card-title">{{ routeCard.title }}</h5>
        <p class="card-text">{{ routeCard.text }}</p>
      </div>
    </div>
  </ng-container>
</div>

<hr />

<!--<h3>Usuario actual:</h3>-->
<!--{{ currentUser.userName }} ({{ currentUser.firstName }}-->
<!--{{ currentUser.lastName }})-->
<!--<h3>Usuarios registrados:</h3>-->
<!--<ul>-->
<!--  <li *ngFor="let user of users">-->
<!--    {{ user.userName }} ({{ user.firstName }} {{ user.lastName }})-->
<!--  </li>-->
<!--</ul>-->
