<div class="card h-100">
  <div class="card-header d-flex justify-content-between">
    <h5>Reporte: Cupones Canjeados</h5>
    <button
      class="btn btn-sm btn-outline-dark"
      (click)="reportRoutingPanelService.goBack()"
    >
      ⬅️ Volver
    </button>
  </div>
  <div class="card-body">
    <wj-flex-grid
      *ngIf="reportRedeemedCouponsService.gridCollection"
      [itemsSource]="reportRedeemedCouponsService.gridCollection"
      [selectionMode]="'Row'"
      [headersVisibility]="'Column'"
      [autoGenerateColumns]="false"
      [allowResizing]="'Columns'"
      [showSelectedHeaders]="'Row'"
      [isReadOnly]="true"
    >
      <wj-flex-grid-filter></wj-flex-grid-filter>
      <wj-flex-grid-column
        *ngFor="let column of columns"
        [width]="column.width"
        [binding]="column.binding"
        [header]="column.header"
        [visible]="true"
      >
      </wj-flex-grid-column>
    </wj-flex-grid>
  </div>
</div>
